{% extends 'base.html.twig' %}
{% block content %}
    <h1>Oops !</h1>
    <div class="wrapper">
        <div class="bg-danger clearfix">
            <i class="glyphicon glyphicon-warning-sign"></i>
            <p>{{ message }}</p>
        </div>
    </div>
{% endblock content %}
